<template lang="pug">
	.row.align-items-center.py-1.item
		.col-2 
			strong {{title}}:
		.col-2.text-center {{prev}}
		.col-3.input-padding
			input.form-control.form-control-sm(:class="{'invalid': error}",:maxlength='maxLength',type='tel', pattern='[0-9]*',inputmode='numeric',v-model='current',v-if="!completed")
			.text-center(v-else) {{current}}
		.col-2 {{count}}
		.col-3.text-right {{cost}}
</template>
<script>
import {isNull} from '@/common'
export default {
	props: ['item', 'type', 'title', 'maxLength'],
	computed: {
		prev() {
			return this.$store.getters[this.item][this.type].prev != null ? parseInt(this.$store.getters[this.item][this.type].prev) : '-'
		},

		current: {
			get() {
				// console.log({...this.$store.getters[this.item][this.type]})
				return !isNull(this.$store.getters[this.item][this.type].current) ? parseInt(this.$store.getters[this.item][this.type].current) : null
			},

			set(value) {
				this.$store.dispatch('calculateItem', {item: this.item, type: this.type, value})
			}
		},

		count() {
			return this.$store.getters[this.item][this.type].count != null ? parseInt(this.$store.getters[this.item][this.type].count) : '-'
		},

		cost() {
			return this.$store.getters[this.item][this.type].cost != null ? parseFloat(this.$store.getters[this.item][this.type].cost).toFixed(2).replace('.', ',') : '-'
		},

		error() {
			return !!this.$store.getters[this.item][this.type].error
		},

		completed() {
			return this.$store.state.completed
		}
	},
}
</script>
<style lang="sass">
.input-padding
	

.row.item
	height: 39px;
	
</style>