<template lang="pug">
	#app
		.container-fluid
			.row.py-2
				.col.text-center
					button.btn.btn-primary-outline.btn-block(@click="loadData") Zagruzit
			.row.align-items-center.py-1
				.col.text-center.arrows.left
					button(:disabled="!prevDate",@click="showPrev")
						i.fa.fa-angle-left
				.col.text-center.prev-date
					small
						strong {{prevDate | dateFormat}}
				.col.text-center.curr-date
					small
						strong {{currDate | dateFormat}}
				.col.text-center.next-date(:class="{'disabled': !nextDateActive}")
					small
						strong {{nextDate | dateFormat}}

				.col.text-center.arrows.right
					button(@click="showNext")
						i.fa.fa-angle-right
			
			fieldset.row
				label.col Водоснабжение
			
			item-data(title='ХВС', item='water', type='cold')
			item-data(title='ГВС', item='water', type='hot')
			
			.row.align-items-center.py-1
				.col-7
					strong Водоотведение:
				.col-2 {{waterDrain.count | int | emptyDash}}
				.col-3.text-right {{waterDrain.cost | money | emptyDash}}

			.row.align-items-center.py-2
				.col-8.text-right 
					strong Итого:
				.col-4.text-right {{waterCost | money | emptyDash}}




			fieldset.row
				label.col Электроэнергия

			item-data(title='Т1', item='power', type='t1')
			item-data(title='Т2', item='power', type='t2')
			item-data(title='Т3', item='power', type='t3')
			
			.row.align-items-center.py-2
				.col-8.text-right 
					strong Итого:
				.col-4.text-right {{powerCost | money | emptyDash}}


			.row.align-items-center.py-2
				.col-8.text-right 
					strong Общая сумма:
				.col-4.text-right {{overallCost | money | emptyDash}}

			.row.py-2
				.col.text-center
					button.btn.btn-primary.btn-block(v-if="!formCompleted",@click="saveData",:disabled="!canSave") Сохранить
					button.btn.btn-outline-primary.btn-block(@click="changeData",v-else) Изменить


</template>
<script>
import itemData from '@/components/ItemData'
import {isNull} from '@/common'

export default {
	name: 'app',
	components: {
		itemData
	},

	data() {
		return {
		}
	},

	computed: {
		currDate() {
			return this.$store.state.date.current
		},

		prevDate() {
			return this.$store.state.date.prev
		},

		prevDateActive() {
			return this.prevDate && this.prevDate.active
		},

		nextDate() {
			return this.$store.state.date.next
		},

		nextDateActive() {
			return this.nextDate && this.nextDate.active
		},

		waterDrain() {
			return {
				count: this.$store.getters.waterDrainCount,
				cost: this.$store.getters.waterDrainCost,
			}
		},

		waterCost() {
			return this.$store.getters.waterCost
		},

		powerCost() {
			return this.$store.getters.powerCost
		},

		overallCost() {
			return this.$store.getters.overallCost
		},

		formCompleted() {
			return this.$store.state.completed
		},

		canSave() {
			return this.$store.getters.canSave
		}
	},

	filters: {
		emptyDash: value => !isNull(value) ? value : '-',
		int: value => !isNull(value) ? parseInt(value) : null,
		money: value => !isNull(value) ? parseFloat(value).toFixed(2).replace('.', ',') : null,
		dateFormat: date => date ? (date.month && date.month < 10 ? '0' + date.month : date.month) + '.' + date.year : '-'
	},


	watch: {
		canSave(value) {
			console.log('canSave: ', value)
		}
	},


	methods: {
		loadData() {
			this.$store.dispatch('loadData')
		},

		async saveData() {
			await this.$store.dispatch('saveData', this.currDate.year + (this.currDate.month < 10 ? '0' : '') + this.currDate.month)
		},

		changeData() {
			this.$store.dispatch('changeData')
		},
		

		async showPrev() {
			if (!isNull(this.prevDate)) {
				await this.$store.dispatch('loadData', this.prevDate.year + (this.prevDate.month < 10 ? '0' : '') + this.prevDate.month)
			}
		},

		async showNext() {
			if (!isNull(this.nextDate)) {
				await this.$store.dispatch('loadData', this.nextDate.year + (this.nextDate.month < 10 ? '0' : '') + this.nextDate.month)
			}
		}

	},

	mounted() {
		this.loadData()
	}
}
</script>

<style lang="sass">
#app
	padding: 1rem
	font-size: 14px

fieldset
	label
		font-size: 16px
		border-bottom: 1px solid #dc3545
.input-padding
	padding-left: 8px
	padding-right: 8px

.form-control.invalid
	border-color: #dc3545

.form-control.invalid:focus
    border-color: #dc3545
    box-shadow: 0 0 0 0.2rem #dc354563

.arrows 
	padding: 0

.arrows BUTTON
	display: inline-block
	//border: 1px solid #f00
	background: none
	border: none
	outline: 0
	text-align: center
	color: #777
	padding: 0
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
	position: relative

.arrows BUTTON:before
	position: absolute
	content: ''
	border-radius: 50%
	padding: 93%
	left: -40%
	top: 0
	z-index: -1
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

.arrows BUTTON:active:before
	background-color: #DDD

.arrows BUTTON:disabled
	color: #CCC

.arrows BUTTON:disabled:active:before
	background-color: initial

.arrows i.fa
	font-size: 3rem
	line-height: 2.2rem

.arrows.left BUTTON
	padding-right: .2rem

.arrows.right BUTTON
	padding-left: .2rem

.next-date.disabled
	color: #CCC
</style>
